body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #4d5259;
}

h1, h2, h3, h4, h5, h6, .tags .tag_title, .tags .examples .tag_title {
  font-weight: normal;
}

a, a:visited,
#content a, #content a:visited,
#search a, #search a:visited,
#menu a, #menu a:visited,
#footer a, #footer a:visited {
  color: #e72b3d;
}
a:hover, a:focus,
#content a:hover #content a:focus,
#search a:hover #search a:focus,
#menu a:hover #menu a:focus,
#footer a:hover #footer a:focus {
  color: #b11423;
}

.summary_desc .object_link a,
.docstring .object_link a,
.object_link a
{
  background: #f9f3f3;
}

#main {
  /* Counterweight the body font-size the bootstrap CSS pulls in. */
  font-size: 13px;
}

#content .signature {
  background: #6B6B6B;
  color: #fff;
  border: none;
}

#content .signature a {
  color: #FF8080;
  background: none;
}

#content .overload .signature {
  background: #bbb;
}

#content .overload .signature a {
  color: #e72b3d;
}

.summary_desc .object_link a,
#content .signature,
.summary .summary_signature,
#filecontents pre.code,
.docstring pre.code,
.tags pre.example
{
  border-radius: 2px;
}

h2 small a {
  box-sizing: border-box;
  height: 28px;
}

#api-documentation-header {
  padding-left: 15px;
  padding-right: 15px;
}

#su-content {
  background: #eef;
  width: 100%;
  position: fixed;
  top: 57px;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

/* The YARD JS doesn't size these elements unless we use the traditional
 * content-box type of sizing.
 */
.box_info * {
  box-sizing: content-box;
}


/* Ensure content is scrollable on small screens. */
@media (max-width: 920px) {
  #main {
    overflow-y: scroll;
  }
}
