<% if constant_listing.size > 0 || object.constants.size > 0 %>
  <h2>
    Constant Summary
    <a
        id="constant_summary"
        href="#constant_summary"
        title="Permalink">#</a>
  </h2>
  <% if constant_listing.size > 0 %>
    <dl class="constants">
      <% constant_listing.each do |cnst| %>
        <dt id="<%= anchor_for(cnst) %>" class="<%= cnst.has_tag?(:deprecated) ? 'deprecated' : '' %>"><%= cnst.namespace.to_s.empty? ? '' : "#{cnst.namespace}::" %><%= cnst.name %>
        </dt>
      <% end %>
    </dl>
  <% end %>
<% end %>
