<!-- SU - start -->
<header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div id="api-documentation-header">
        <div class="navbar-header">
            <a class="logo navbar-btn pull-left" href="http://developer.sketchup.com" title="Home">
                <img src="http://developer.sketchup.com/sites/help.sketchup.com/files/SU_Developer-RedWhite.png" alt="Home">
            </a>
            <a class="name navbar-brand" href="/en" title="Home">SketchUp Developer Center</a>
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first leaf"><a href="http://forums.sketchup.com/c/developers">Community</a></li>
                    <li class="leaf"><a href="http://blog.sketchup.com/tags/developers">SketchUpdate Blog</a></li>
                    <li class="leaf"><a href="http://www.sketchup.com/download" class="top-menu--download-button">Download</a></li>
                    <li class="last expanded dropdown">
                        <a href="http://www.trimble.com" class="trimble-top-menu-item dropdown-toggle" data-target="#" data-toggle="dropdown"><img src="http://www.sketchup.com/sites/developers.sketchup.com/files/core/trimble-logo-white.png"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="first leaf"><a href="http://connect.trimble.com/">Trimble Connect</a></li>
                            <li class="leaf"><a href="https://www.trimble.com/Corporate/About_Trimble.aspx">About Trimble</a></li>
                            <li class="last leaf"><a href="http://buildings.trimble.com/">Trimble Buildings</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- SU - end -->